
/* Remove padding bottom for radioGroupButton */

/*.navbar.navbar-inverse {
  background-color: $primary !important;
}*/

.navbar-brand {
  margin-right: 0 !important;
}

.nav-item>.form-group {
  margin-bottom: 0 !important;
}

.navbar-collapse {
  padding-left: 40px;
  /*padding-right: 40px;*/
}

.nav-item>.nav-link {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.dropdown>.dropdown-menu.show {
  z-index: 10000 !important;
}
/*[data-value="home"] {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}*/


/*.bsblib-sidebar-layout {
  --bsblib-sidebar-min-width: 250px;
  --bsblib-sidebar-max-width: 400px;
}*/

/*.bslib-sidebar-layout > .main {
  padding: 0 !important;
}*/

